/* Стили кнопки Load more */
.button {
  padding: 8px 16px;
  border-radius: 3px;
  background-color: #3884ff;
  transition: all 200ms ease;
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  background-color: #1f65d6;
}

button[disabled] {
  pointer-events: none;
  background-color: #bdbdbd;
}
